* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  margin: 0;
  background-color: #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.chart {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(100, 1fr);
  grid-column-gap: 5px;
  height: 100vh;
  width: 70vw;
  padding: 5px 10px;
}

[class*="bar"] {
  border-radius: 5px 5px 0 0;
  -webkit-transition: all .6s ease;
  transition: all .6s ease;
  background-color: #ff4136;
  grid-row-start: 1;
  grid-row-end: 101;
}

.bar-1 {
  grid-row-start: 100;
}

.bar-2 {
  grid-row-start: 99;
}

.bar-3 {
  grid-row-start: 98;
}

.bar-4 {
  grid-row-start: 97;
}

.bar-5 {
  grid-row-start: 96;
}

.bar-6 {
  grid-row-start: 95;
}

.bar-7 {
  grid-row-start: 94;
}

.bar-8 {
  grid-row-start: 93;
}

.bar-9 {
  grid-row-start: 92;
}

.bar-10 {
  grid-row-start: 91;
}

.bar-11 {
  grid-row-start: 90;
}

.bar-12 {
  grid-row-start: 89;
}

.bar-13 {
  grid-row-start: 88;
}

.bar-14 {
  grid-row-start: 87;
}

.bar-15 {
  grid-row-start: 86;
}

.bar-16 {
  grid-row-start: 85;
}

.bar-17 {
  grid-row-start: 84;
}

.bar-18 {
  grid-row-start: 83;
}

.bar-19 {
  grid-row-start: 82;
}

.bar-20 {
  grid-row-start: 81;
}

.bar-21 {
  grid-row-start: 80;
}

.bar-22 {
  grid-row-start: 79;
}

.bar-23 {
  grid-row-start: 78;
}

.bar-24 {
  grid-row-start: 77;
}

.bar-25 {
  grid-row-start: 76;
}

.bar-26 {
  grid-row-start: 75;
}

.bar-27 {
  grid-row-start: 74;
}

.bar-28 {
  grid-row-start: 73;
}

.bar-29 {
  grid-row-start: 72;
}

.bar-30 {
  grid-row-start: 71;
}

.bar-31 {
  grid-row-start: 70;
}

.bar-32 {
  grid-row-start: 69;
}

.bar-33 {
  grid-row-start: 68;
}

.bar-34 {
  grid-row-start: 67;
}

.bar-35 {
  grid-row-start: 66;
}

.bar-36 {
  grid-row-start: 65;
}

.bar-37 {
  grid-row-start: 64;
}

.bar-38 {
  grid-row-start: 63;
}

.bar-39 {
  grid-row-start: 62;
}

.bar-40 {
  grid-row-start: 61;
}

.bar-41 {
  grid-row-start: 60;
}

.bar-42 {
  grid-row-start: 59;
}

.bar-43 {
  grid-row-start: 58;
}

.bar-44 {
  grid-row-start: 57;
}

.bar-45 {
  grid-row-start: 56;
}

.bar-46 {
  grid-row-start: 55;
}

.bar-47 {
  grid-row-start: 54;
}

.bar-48 {
  grid-row-start: 53;
}

.bar-49 {
  grid-row-start: 52;
}

.bar-50 {
  grid-row-start: 51;
}

.bar-51 {
  grid-row-start: 50;
}

.bar-52 {
  grid-row-start: 49;
}

.bar-53 {
  grid-row-start: 48;
}

.bar-54 {
  grid-row-start: 47;
}

.bar-55 {
  grid-row-start: 46;
}

.bar-56 {
  grid-row-start: 45;
}

.bar-57 {
  grid-row-start: 44;
}

.bar-58 {
  grid-row-start: 43;
}

.bar-59 {
  grid-row-start: 42;
}

.bar-60 {
  grid-row-start: 41;
}

.bar-61 {
  grid-row-start: 40;
}

.bar-62 {
  grid-row-start: 39;
}

.bar-63 {
  grid-row-start: 38;
}

.bar-64 {
  grid-row-start: 37;
}

.bar-65 {
  grid-row-start: 36;
}

.bar-66 {
  grid-row-start: 35;
}

.bar-67 {
  grid-row-start: 34;
}

.bar-68 {
  grid-row-start: 33;
}

.bar-69 {
  grid-row-start: 32;
}

.bar-70 {
  grid-row-start: 31;
}

.bar-71 {
  grid-row-start: 30;
}

.bar-72 {
  grid-row-start: 29;
}

.bar-73 {
  grid-row-start: 28;
}

.bar-74 {
  grid-row-start: 27;
}

.bar-75 {
  grid-row-start: 26;
}

.bar-76 {
  grid-row-start: 25;
}

.bar-77 {
  grid-row-start: 24;
}

.bar-78 {
  grid-row-start: 23;
}

.bar-79 {
  grid-row-start: 22;
}

.bar-80 {
  grid-row-start: 21;
}

.bar-81 {
  grid-row-start: 20;
}

.bar-82 {
  grid-row-start: 19;
}

.bar-83 {
  grid-row-start: 18;
}

.bar-84 {
  grid-row-start: 17;
}

.bar-85 {
  grid-row-start: 16;
}

.bar-86 {
  grid-row-start: 15;
}

.bar-87 {
  grid-row-start: 14;
}

.bar-88 {
  grid-row-start: 13;
}

.bar-89 {
  grid-row-start: 12;
}

.bar-90 {
  grid-row-start: 11;
}

.bar-91 {
  grid-row-start: 10;
}

.bar-92 {
  grid-row-start: 9;
}

.bar-93 {
  grid-row-start: 8;
}

.bar-94 {
  grid-row-start: 7;
}

.bar-95 {
  grid-row-start: 6;
}

.bar-96 {
  grid-row-start: 5;
}

.bar-97 {
  grid-row-start: 4;
}

.bar-98 {
  grid-row-start: 3;
}

.bar-99 {
  grid-row-start: 2;
}

.bar-100 {
  grid-row-start: 1;
}

.bar-101 {
  grid-row-start: 0;
}

[class*="bar"]:nth-child(odd) {
  background-color: #ff4136;
}

[class*="bar"]:nth-child(even) {
  background-color: #0074d9;
}
